# Kuis 1
    Nama    : Adika Ahmad Hanif Nazhir
    Kelas   : TI - 3B
    NIM     : 2041720171
    No.Absen: 02

## _Medical Insurance Costs_

Pada kasus ini, terdapat data tentang informasi kesehatan dan biaya yang harus dikeluarkan oleh asuransi kesehatan. Infomasi terkait dengan data _medical insurance cost_ adalah sebagai berikut,

1. Age: Usia penerima manfaat
2. Sex: Gender penerima manfaat (_male_, _femele_)
3. Bmi : Body Mass Index
4. Children: Jumlah anak/tanggungan yang dicover oleh pihak asuransi
5. Smoker: Status perokok (_yes_, _no_)
6. Region: Wilayah tempat tinggal penerima manfaat
7. Charges: Biaya yang dikeluarkan oleh asuransi

In [82]:
import pandas as pd
import numpy as np
df = pd.read_csv("data/insurance.csv")

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Tantangan

Buatlah model regresi untuk memprediksi biaya yang harus dikeluarkan oleh pihak asuransi berdasarkan data. Validasi performa model regresi Anda dengan nilai ***R-squared ($R^2$)***

#### _Tasks_

1. Pastikan semua variabel kategorial diolah dengan baik. (Gunakan fitur mapping pada pandas)
2. Cek kondisi multicollinearity untuk semua variabel independen. Jika ada, antar variabel apakah itu?
3. Pastikan model menggunakan variabel yang tidak memiliki nilai multicollinearity yang tinggi
4. (Hints) Anda dapat menggunakan nilai ***Variance Inflation Factor (VIF)*** untuk mengetahui tingkat multicollinearity pada sebuah variabel independent.
5. Evaluasi model yang Anda buat dengan nilai $R^2$
6. Simpulkan, variabel independen apa saja yang dapat digunakan untuk menghasilkan model regresi yang baik pada kasus _medical insurance costs_?

<b> Penyelesaian <b>

In [83]:
# Data untuk Sex (Jenis Kelamin)
new_label_sex = {
    'male': 1,
    'female': 0
}

# Data untuk Smoker
new_label_smoker = {
    'yes' : 1,
    'no' : 0,
}

# Data untuk Region
new_label_region = {
    'southwest' : 0,
    'northwest' : 1,
    'southeast' : 2,
    'northeast' : 3
}

# Mapping Data
df['sex'] = df['sex'].map(new_label_sex)
df['smoker'] = df['smoker'].map(new_label_smoker)
df['region'] = df['region'].map(new_label_region)

# Display Data
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       0  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [84]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

#Untuk data set independent variables
x = df[['age','sex','bmi','children','smoker','region']]

vif_data = pd.DataFrame()
vif_data ["feature"] = x.columns

# Menghitung data variance inflation factor (vif)
vif_data["VIF"] = [variance_inflation_factor(x.values, i) for i in range(len(x.columns))]

print(vif_data)

    feature       VIF
0       age  7.612892
1       sex  2.003335
2       bmi  9.761004
3  children  1.799750
4    smoker  1.261679
5    region  2.731509

Pada Tabel diatas pada kolom <b>age</b> dan <b>bmi</b> memiliki nilai yang lebih dari 5, sehingga dapat dikatakan kolom tersebut memiliki korelasi yang kuat.

In [102]:
#Copy Variabel
df2 = df.copy()

#Melakukan drop colom Age dan BMI
df2 = df2.drop(df2.columns[0], axis = 1)
df2 = df2.drop(df2.columns[1], axis = 1)

df2.head()

   sex  children  smoker  region      charges
0    0         0       1       0  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       1  21984.47061
4    1         0       0       1   3866.85520

In [86]:
#Memilih Data set
x = df2.iloc[:,: -1].values
y = df2.iloc[:,4].values

y = y.reshape(len(y),1)
y.shape

(1338, 1)

In [87]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x_train,x_test, y_train, y_test = train_test_split(x, y, train_size=0.3, random_state=30)

lr = LinearRegression()
lr.fit(x_train, y_train)

y_pred = lr.predict(x_test)

In [88]:
data = np.concatenate((y_test, y_pred))
data

array([[41919.097     ],
       [ 3659.346     ],
       [ 4746.344     ],
       ...,
       [ 7813.41687585],
       [31695.73228543],
       [10417.81054631]])

In [97]:
from sklearn.metrics import r2_score
#Mencari nilai R2
r_val = r2_score(y_test,y_pred)
print(f'Hasil Evaluasi R2 dari 5 kolom = {r_val}')

Hasil Evaluasi R2 dari 5 kolom = 0.6347450101346168

In [91]:
x2 = df.iloc[:, :-1]
y2 = df.iloc[:,6]
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, train_size=0.3, random_state=30)

In [92]:
lr2 = LinearRegression()
lr2.fit(x2_train,y2_train)

y2_pred = lr2.predict(x2_test)

In [94]:
compare = np.concatenate((y2_test, y2_pred))
compare

array([41919.097     ,  3659.346     ,  4746.344     , ...,
        2099.76347383, 30955.78212887, 11511.4407393 ])

In [96]:
r2_val = r2_score(y2_test,y2_pred)
print(f'Hasil Evaluasi R2 dari Semua Kolom = {r2_val}')

Hasil Evaluasi R2 dari Semua Kolom = 0.7556940985693124

<b> Kesimpulan </b>  
Hasil nilai R2 memiliki nilai yang lebih baik saat menggunakan semua data daripada menggunakan 5 data. Karena Semakin dekat nilai R2 menuju 1 maka semakin baik.